@font-face {
  font-family: "Anurati";
  src: url("fonts/Anurati.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --themeColor: #00b3b3;
  --liteThemeColor: #dbe9e2de;
  --liteThemeColor2: #98fcf4;
  --themeBg: #00b4b44b;
  --bg: #def;
  --bg2: #bdf;
  --color: #474747;
}
body {
  background: linear-gradient(-90deg, var(--bg), var(--bg2));
  width: 100%;
  aspect-ratio: 20/9;
  overflow: hidden;
  color: var(--color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body.skyblue {
  --themeColor: #00b3b3;
  --liteThemeColor: #dbe9e2de;
  --liteThemeColor2: #98fcf4;
  --themeBg: #00b4b44b;
  --bg: #def;
  --bg2: #bdf;
  --color: #474747;
}
body.red {
  --themeColor: #d40909;
  --liteThemeColor: #e9dbdbde;
  --liteThemeColor2: #fcbb98;
  --themeBg: #b400004b;
  --bg: rgb(255, 232, 221);
  --bg2: rgb(255, 187, 187);
  --color: #474747;
}
body.green {
  --themeColor: #08cf61;
  --liteThemeColor: #dce9dbde;
  --liteThemeColor2: #98fca5;
  --themeBg: #00b43c4b;
  --bg: rgb(221, 255, 230);
  --bg2: rgb(187, 255, 207);
  --color: #474747;
}
body.yellow {
  --themeColor: #ece807;
  --liteThemeColor: #e7e9dbde;
  --liteThemeColor2: #f4fc98;
  --themeBg: #a2b4004b;
  --bg: rgb(255, 255, 221);
  --bg2: rgb(247, 255, 187);
  --color: #474747;
}
body.purple {
  --themeColor: #800080;
  --liteThemeColor: #e7dbe9de;
  --liteThemeColor2: #d998fc;
  --themeBg: #ab00b44b;
  --bg: rgb(245, 221, 255);
  --bg2: rgb(249, 187, 255);
  --color: #474747;
}
body.dark {
  --themeColor: #050005;
  --liteThemeColor: #100028de;
  --liteThemeColor2: #191a19;
  --themeBg: #2d2f2f4b;
  --bg: rgb(1, 8, 15);
  --bg2: rgb(17, 18, 18);
  --color: #cecdcd;
}

svg path {
  fill: var(--bg);
}
.colors input.themes[value="skyblue"] {
  background: #2acdf5;
}
.colors input.themes[value="red"] {
  background: #d40909;
}
.colors input.themes[value="green"] {
  background: #08cf61;
}
.colors input.themes[value="yellow"] {
  background: #ece807;
}
.colors input.themes[value="purple"] {
  background: #800080;
}
.colors input.themes[value="dark"] {
  background: #050005;
}
input[name="theme"]:checked::after {
  content: "";
  background: url(svg/tick.svg) center center no-repeat;
  background-size: 70%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* time section =----------- */
.timeSection {
  height: 20vh;
  /* outline: 2px solid; */
  margin-bottom: 1rem;
  padding: 5px;
  color: var(--themeColor);
}
.timeSection .dayBox {
  margin: auto;
  width: fit-content;
}
.timeSection #day {
  font-size: 70px;
  font-family: Anurati;
  letter-spacing: 20px;
}
.timeSection .timeBox {
  font-size: 14px;
  letter-spacing: 3px;
  width: fit-content;
  margin: auto;
}

/* search section --- */
#searchForm {
  padding: 0 5% 0 0;
  display: flex;
  height: 3rem;
  position: relative;
  justify-content: center;
}
#searchForm input:focus,
#searchForm select:focus {
  outline: unset;
  /* border: unset; */
}
#search {
  border: 2px solid var(--themeColor);
  border-radius: 50px 0 0 50px;
  background-color: var(--liteThemeColor);
  padding: 6px 15px;
  font-size: 1.3rem;
  width: 40vw;
  margin: 0;
}

.searchIcon {
  /* cursor: pointer; */
  padding: 6px;
  height: 100%;
  background-color: var(--themeColor);
  border: 2px solid var(--themeColor);
}

#searchEngine {
  border: 2px solid var(--themeColor);
  outline: 0;
  background-color: var(--themeColor);
  border-radius: 0 25px 25px 0;
  padding: 6px 15px;
  font-size: 1.3rem;
  color: #eee;
}

#searchEngine option {
  color: #eeea;
  background: var(--themeColor);
}

/* applications shortcut section ----------- */
.everyShortcut.plusIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.everyShortcut.plusIcon p {
  font-size: 50px;
  position: relative;
  top: -5px;
}
section.shortcutApp#shortcutApp {
  /* border: 2px solid gray; */
  align-items: center;
  justify-content: center;
  width: 65vw;
  width: 720px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
section#addAppContainer {
  display: none;
  z-index: -1;
  width: 30vw;
  min-height: 200px;
  min-width: 350px;
  background-color: #dfd7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 1rem;
  backdrop-filter: blur(7%);
}
section#addAppContainer .newShortcutForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  gap: 1rem;
  padding: 1rem;
}
section#addAppContainer .shortcutInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section#addAppContainer .shortcutInput label {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 5px;
}
section#addAppContainer .shortcutInput input {
  width: 100%;
  padding: 7px 1rem;
  border-radius: 10px;
  border: 2px solid var(--themeBg);
  background-color: var(--liteThemeColor);
  font-weight: 500;
  font-size: medium;
}
section#addAppContainer .shortcutInput input:focus {
  outline: 1px solid var(--themeColor);
}
section#addAppContainer #shortcutSaveBtn {
  align-items: center;
  background-color: var(--liteThemeColor);
  border-radius: 17px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  color: var(--color);
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
  will-change: transform, opacity;
  margin: auto;
  display: block;
}

section#addAppContainer #shortcutSaveBtn:hover {
  background: var(--themeColor);
  color: #f6f9fe;
}

#shortcutApp .everyShortcut {
  margin-bottom: 3rem;
  height: 40px;
  width: 40px;
  aspect-ratio: 1/1;
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}
.everyShortcut .icon {
  height: 100%;
  width: 100%;
}
.everyShortcut .title {
  text-align: center;
  text-overflow: ellipsis;
}
.everyShortcut .threeDot {
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  position: absolute;
  top: -30%;
  right: -35%;
  aspect-ratio: 1/1;
  border-radius: 30px;
  padding: 3px;
  opacity: 0;
  transition: all 200ms;
}
.everyShortcut .threeDot img {
  transform: rotate(90deg);
}
.everyShortcut .threeDot:hover {
  background-color: #fff9;
}
.everyShortcut:hover > .threeDot {
  opacity: 1;
}
.everyShortcut .threeDotOptions {
  position: absolute;
  background: #9999;
  backdrop-filter: blur(7px);
  display: none;
  /* padding: 0.5rem 1rem; */
  right: 0;
  top: 0;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
}
.everyShortcut.showOptions .threeDotOptions {
  display: block;
}
.everyShortcut .threeDotOptions p {
  font-weight: bold;
  padding: 7px 15px;
}
.everyShortcut .threeDotOptions p:hover {
  background-color: #ccc9;
}

/* bottom section --------- */
.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}

#allAppPopup {
  /* display: none; */
  display: block;
  background: linear-gradient(90deg, var(--themeBg), var(--themeBg));
  /* color: wheat; */
  overflow-y: scroll;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 15px;
  box-shadow: -0.5rem 0.5rem 2rem -0.5rem #0129,
    inset 2rem -2rem 5rem -1rem #ffd7;
  height: 1vh;
  width: 54vh;
  position: relative;
  bottom: -8rem;
  transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar {
  width: 0;
}

#toggleApp {
  position: relative;
  background: transparent;
  padding: 0 1rem 0 0;
  float: right;
  border: 0;
  outline: 0;
  height: 47px;
  /* cursor: pointer; */
  border-radius: 50%;
  overflow: visible;
  z-index: 1;
  transition: all 1s ease-out;
}
#toggleApp #icr {
  rotate: 0deg;
  transition: all 0.5s;
}
#toggleApp #icr.rotate {
  rotate: 180deg;
}
#toggleApp .ic {
  filter: brightness(100%);
  transition: all 1s;
}
#toggleApp:hover .ic {
  filter: brightness(80%);
}

/* apps --------- */
#allAppPopup h3 {
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
}
#allAppPopup .ab {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
#allAppPopup li {
  background-color: var(--bg2);
  list-style: none;
  aspect-ratio: 1/1;
  border-radius: 17px;
  box-shadow: 2px 2px 7px -6px #00000090, inset 2px 2px 10px -6px #ffffffce;
  transition: all 500ms;
}
#allAppPopup a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  text-align: center;
  text-decoration: none;
}

#allAppPopup img {
  filter: brightness(90%), drop-shadow(2px 2px 3px #0007);
  transition: all 500ms;
  width: 100%;
  max-height: 34px;
  max-width: 34px;
}

/* replaced span with title to increasing view quality----- */
/* #allAppPopup span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    color: initial;
    max-height: 12px;
    max-width: 100%;
    padding: 0 3px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
} */

#allAppPopup.show {
  height: 80vh;
  bottom: -0.8rem;
}
#allAppPopup.hide {
  animation: popdown 0.5s ease-in-out forwards;
}

#allAppPopup li:hover {
  background-color: var(--liteThemeColor);
}
#allAppPopup li:hover img {
  filter: brightness(100%);
}

/* popup bg --- */

#popupbg {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(15px);
  height: 100%;
  width: 100%;
  background: #5553;
}

/* mail section /----- */
#mailToggle {
  height: 47px;
  position: fixed;
  bottom: 1rem;
  right: 10vw;
}
.mailService {
  height: 100%;
  width: 47px;
  margin: auto;
  position: relative;
}
.mailService div {
  height: 100%;
  width: 100%;
  background: var(--themeColor);
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mailService svg,
.mailService img {
  padding: 10px;
  fill: var(--bg2);
  width: 100%;
}
.mailService .emails {
  transition: all 500ms;
}
.mailService .gmail.show {
  transform: translate(-150%, -70%);
}
.mailService .outlook.show {
  transform: translatey(-150%);
}
.mailService .yahoo.show {
  transform: translate(150%, -70%);
}
.ToggleMailButton {
  z-index: 1;
}

/* credit section ---------------------------------------------- */
.authorInfoButton {
  aspect-ratio: 1/1;
  width: 30px;
  border-radius: 50px;
  background-color: var(--themeBg);
  outline: 1px solid var(--themeColor);
  border: 0;
  box-shadow: inset 2px 2px 5px var(--liteThemeColor2);
  font-weight: 900;
  font-size: large;
  color: #123a;
  position: fixed;
  bottom: 25px;
  left: 25px;
}
.creditbox {
  display: none;
  height: 400px;
  width: 600px;
  position: absolute;
  background: #dfd9;
  backdrop-filter: blur(100px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 20px 0 100px 50px #4565;
  z-index: 2;
}
.creditbox .clossBtn {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  outline: 0;
  border: 0;
  background: var(--themeColor);
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.creditbox h3 {
  text-align: center;
}
.creditbox .description {
  margin: 1.5rem 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
.creditbox .credit {
  margin: auto;
  display: grid;
  grid-template-columns: 35% 30px 1fr;
  font-size: 18px;
  margin: 0.5rem;
  margin-top: 2rem;
}
.creditbox .credit .key {
  color: var(--themeColor);
  font-weight: bolder;
}
.creditbox .credit a {
  color: var(--themeColor);
  font-weight: 500;
  text-decoration: none;
}
