/* quickApplication section --------- */
.quickApplication {
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 0 1rem 0;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0;
}

#toggleApp {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  overflow: hidden;
  border: 0;
  outline: 0;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  rotate: 0deg;
  transition: all 300ms ease-out;
  filter: brightness(100%);
  background-color: var(--bg);
}

/* apps --------- */
.allAppPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  border-radius: 15px;
  height: 0;
  width: 550px;
  max-width: 90vw;
  position: relative;
  transition: all 300ms ease-in-out;
  bottom: 1.7rem;
  right: 2rem;
  overflow: hidden;
  background: #ffffff23;
  backdrop-filter: blur(30px);
  filter: brightness(1.1);
  padding-left: 35px;
  padding-right: 35px;
}
.appTypeContainer.hide {
  display: none;
}
.allAppPopup h3 {
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.allAppPopup .ab {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
  /* grid-template-columns: repeat(4, 1fr); */
}
.allAppPopup li {
  background-color: var(--bg2);
  list-style: none;
  aspect-ratio: 1/1;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #00000010, inset 3px 3px 3px #ffffff07;
  transition: all 300ms;
  position: relative;
  overflow: hidden;
}
.allAppPopup a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.allAppPopup .appTypeContainer svg {
  filter: brightness(0.8);
  transition: all 100ms;
  fill: var(--accent);
  object-fit: contain;
  width: 50px;
}
.allAppPopup li:hover {
  background-color: #fff1;
}
.allAppPopup li:hover img {
  filter: brightness(100%);
}
/* Toggle */
.quickApplication.show {
  z-index: 3;
}
.quickApplication.show .allAppPopup {
  outline: 8px solid color-mix(in srgb, var(--text-color), transparent 85%);
  overflow-y: scroll;
  height: 80vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
.quickApplication.show #toggleApp {
  rotate: 180deg;
}
/* sponsor  */
.appTypeContainer .ab-sponsor li::after {
  content: "";
  background: var(--accent);
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: -50%;
  rotate: -45deg;
  transform: translateY(15px);
}

/*  ===== mail section ===== */
#mailContainer {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 1.5rem;
  right: 10vw;
}
.mailContainer div {
  height: 100%;
  width: 100%;
  background: var(--accent);
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mailContainer svg,
.mailContainer img {
  padding: 7px;
  fill: var(--light-background);
  width: 100%;
}
.mailContainer .emails {
  transition: all 300ms ease-out;
}
.mailContainer.show {
  z-index: 3;
}
.mailContainer.show .gmail {
  transform: translate(-150%, -70%);
}
.mailContainer.show .outlook {
  transform: translateY(-150%);
}
.mailContainer.show .yahoo {
  transform: translate(150%, -70%);
}
