/* credit section ---------------------------------------------- */
.authorInfoButton {
  aspect-ratio: 1/1;
  width: 30px;
  border-radius: 50px;
  background-color: var(--themeBg);
  outline: 1px solid var(--themeColor);
  border: 0;
  box-shadow: inset 2px 2px 5px var(--liteThemeColor2);
  font-weight: 900;
  font-size: large;
  color: #123a;
  position: fixed;
  bottom: 25px;
  left: 25px;
}
.creditBox {
  display: none;
  height: 400px;
  width: 600px;
  position: absolute;
  background: #dfd9;
  backdrop-filter: blur(100px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 20px 0 100px 50px #4565;
  z-index: 2;
}
.creditBox .closeButton {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50px;
  outline: 0;
  border: 0;
  background: var(--themeColor);
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.creditBox h3 {
  text-align: center;
}
.creditBox .description {
  margin: 1.5rem 0.5rem;
  font-size: 14px;
  font-weight: 500;
}
.creditBox .credit {
  margin: auto;
  display: grid;
  grid-template-columns: 35% 30px 1fr;
  font-size: 18px;
  margin: 0.5rem;
  margin-top: 2rem;
}
.creditBox .credit .key {
  color: var(--themeColor);
  font-weight: bolder;
}
.creditBox .credit a {
  color: var(--themeColor);
  font-weight: 500;
  text-decoration: none;
}
