/* credit section ---------------------------------------------- */
.authorInfoButton {
  aspect-ratio: 1/1;
  width: 30px;
  border-radius: 50px;
  background-color: var(--light-accent);
  outline: 1px solid var(--themeColor);
  border: 0;
  box-shadow: inset 2px 2px 5px var(--liteThemeColor2);
  font-weight: 900;
  font-size: large;
  color: #123a;
  position: fixed;
  bottom: 25px;
  left: 25px;
}
.creditBox {
  display: none;
  color: var(--text-color);
  width: 750px;
  max-width: 80vw;
  position: absolute;
  backdrop-filter: blur(55px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 2px 2px 1px #0001, inset 2px 2px 1px var(--light-accent);
  border: 1px solid color-mix(in srgb, transparent, var(--text-color) 10%);
  z-index: 2;
}
.creditBox .closeButton {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  outline: 0;
  border: 0;
  background: var(--accent);
  color: var(--light-background);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.creditBox h3 {
  text-align: center;
  font-size: 20px;
}
.creditBox .description p {
  margin: 1.5rem 0.5rem;
  font-size: 15px;
  font-family: sans-serif;
}
.creditBox .credit {
  margin: auto;
  display: grid;
  grid-template-columns: 45% 1fr 45%;
  font-size: 18px;
  margin: 0.5rem;
  margin-top: 2rem;
  font-weight: bolder;
  text-align: center;
  gap: 7px;
}
.creditBox .credit .key {
  text-align: left;
}
.creditBox .credit a,
.creditBox .credit p {
  color: var(--text-color);
  text-align: right;
}
/* banners -- Shields */
.creditBox .banners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.creditBox .banners a {
  text-decoration: none;
  color: var(--light-background);
  flex: 1;
}
.creditBox .banners .listTile {
  text-align: center;
  background-color: var(--accent);
  font-style: italic;
}
.creditBox .banners .listTile .icon {
  fill: var(--light-background);
}
