@import url(root.css);
@import url(appShortcuts.css);
@import url(developerCredit.css);
@import url(settings.css);
@import url(bottom.css);

/* icons ------- */
svg {
  height: 100%;
  width: 100%;
}
.ic {
  fill: var(--accent);
}
.ic-search {
  fill: var(--soft-accent);
}

/* nav ---------- */
nav {
  padding: 1rem;
  margin-bottom: 1rem;
}
.brandLogo {
  color: var(--accent);
  font-size: 30px;
  margin-left: 1rem;
  display: inline-block;
}
.brandLogo img {
  max-height: 75px;
  filter: drop-shadow(2px 2px 2px #0003);
}
.brandLogo svg {
  fill: var(--accent);
  max-height: 70px;
  max-width: 70px;
  padding: 0.7rem;
  background-color: var(--light-accent);
  outline: 1px solid var(--accent);
  border-radius: 35px;
}

/* time section =----------- */
.timeSection {
  height: 20vh;
  /* outline: 2px solid; */
  margin-bottom: 1rem;
  padding: 5px;
}
.timeSection .dayBox {
  margin: auto;
  width: fit-content;
}
.timeSection #day {
  font-size: 70px;
  font-family: Anurati;
  letter-spacing: 20px;
  /* color: color-mix(in srgb-linear, var(--accent), var(--light-accent) 10%); */
  color: var(--accent);
}
.timeSection .timeBox {
  font-size: 14px;
  letter-spacing: 3px;
  width: fit-content;
  margin: auto;
  color: hsl(from var(--soft-accent) h s calc(l * 0.7));
}

/* search section --- */
#searchForm {
  display: flex;
  min-height: 50px;
  position: relative;
  align-items: center;
  min-width: 50vw;
  width: 850px;
  max-width: 95vw;
  border-radius: 50px;
  margin: auto;
  border: 2px solid color-mix(in srgb, var(--soft-accent), transparent 50%);
  background-color: color-mix(in srgb, var(--accent), #fff1 97%);
}
#searchForm input:focus,
#searchForm select:focus {
  outline: 0;
  border: 0;
}
#search {
  color: color-mix(in srgb, var(--text-color), var(--light-accent) 28%);
  background: transparent;
  margin: 0;
  padding: 6px 15px;
  font-size: 1.1rem;
  border: 0;
  width: 100%;
  width: -moz-fill-available;
  width: -webkit-fill-available;
}

#searchForm .searchIcon {
  border: 0;
  outline: 0;
  padding-right: 12px;
  height: 100%;
  background: transparent;
}

#searchEngine {
  border: 0;
  outline: 0;
  background-color: var(--accent);
  border-radius: 30px;
  padding: 6px 10px;
  margin-left: 7px;
  font-size: 1.1rem;
  text-align: justify;
  color: var(--background);
  fill: var(--background);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#searchEngine option {
  color: var(--background);
  background: var(--accent);
}

/* popup bg --- */

#popupBg {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  background: color-mix(in srgb, #0003, var(--accent) 1%);
}
