@import url(root.css);
@import url(appShortcuts.css);
@import url(developerCredit.css);
@import url(settings.css);

/* icons ------- */
svg {
  height: 100%;
  width: 100%;
}
.ic {
  fill: var(--accent);
}
.ic-search {
  fill: var(--light-background);
}

/* nav ---------- */
nav {
  padding: 1rem;
  margin-bottom: 1rem;
}
.brandLogo {
  color: var(--accent);
  font-size: 30px;
  margin-left: 1rem;
  display: inline-block;
}
.brandLogo img {
  max-height: 75px;
  filter: drop-shadow(2px 2px 2px #0003);
}
.brandLogo svg {
  fill: var(--accent);
  max-height: 70px;
  max-width: 70px;
  padding: 0.7rem;
  background-color: var(--light-accent);
  outline: 1px solid var(--accent);
  border-radius: 35px;
}

/* time section =----------- */
.timeSection {
  height: 20vh;
  /* outline: 2px solid; */
  margin-bottom: 1rem;
  padding: 5px;
  color: color-mix(in srgb-linear, var(--accent) 80%, var(--light-accent) 20%);
}
.timeSection .dayBox {
  margin: auto;
  width: fit-content;
}
.timeSection #day {
  font-size: 70px;
  font-family: Anurati;
  letter-spacing: 20px;
}
.timeSection .timeBox {
  font-size: 14px;
  letter-spacing: 3px;
  width: fit-content;
  margin: auto;
  filter: brightness(70%);
}

/* search section --- */
#searchForm {
  padding: 0 5% 0 0;
  display: flex;
  height: 3rem;
  position: relative;
  justify-content: center;
}
#searchForm input:focus,
#searchForm select:focus {
  outline: unset;
  /* border: unset; */
}
#search {
  border: 2px solid var(--themeColor);
  border-radius: 50px 0 0 50px;
  background-color: var(--liteThemeColor);
  padding: 6px 15px;
  font-size: 1.3rem;
  width: 40vw;
  margin: 0;
}

.searchIcon {
  /* cursor: pointer; */
  padding: 6px;
  height: 100%;
  background-color: var(--themeColor);
  border: 2px solid var(--themeColor);
}

#searchEngine {
  border: 2px solid var(--themeColor);
  outline: 0;
  background-color: var(--themeColor);
  border-radius: 0 25px 25px 0;
  padding: 6px 15px;
  font-size: 1.3rem;
  color: #eee;
}

#searchEngine option {
  color: #eeea;
  background: var(--themeColor);
}

/* bottom section --------- */
.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}

::-webkit-scrollbar {
  width: 0;
}

#toggleApp {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  background: transparent;
  overflow: hidden;
  border: 0;
  outline: 0;
  height: 50px;
  border-radius: 50%;
  z-index: 1;
  transition: all 1s ease-out;
  rotate: 0deg;
  transition: all 0.5s step-end;
  filter: brightness(100%);
  transition: all 1s;
}
#toggleApp.rotate {
  rotate: 180deg;
}
#toggleApp:hover {
  filter: brightness(80%);
}
#toggleApp svg {
  fill: var(--themeColor);
  background-color: var(--bg);
}

/* apps --------- */
#allAppPopup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  border-radius: 15px;
  height: 0;
  width: 550px;
  max-width: 90vw;
  position: relative;
  transition: all 0.5s ease-in-out;
  bottom: 1.7rem;
  right: 2rem;
  overflow: hidden;
  backdrop-filter: blur(15px);
  filter: brightness(1.2);
  padding-left: 35px;
  padding-right: 35px;
}
#allAppPopup.show {
  overflow-y: scroll;
  height: 80vh;
  box-shadow: 2px 2px 5px 4px #0002;
  padding-top: 20px;
  border: 10px solid rgba(from var(--themeColor), red, green, blue, alpha);
}
#allAppPopup h3 {
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}

#allAppPopup .ab {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
  /* grid-template-columns: repeat(4, 1fr); */
}
#allAppPopup li {
  background-color: var(--bg2);
  list-style: none;
  aspect-ratio: 1/1;
  border-radius: 20px;
  box-shadow: 2px 2px 7px -6px #00000090, inset 2px 2px 10px -6px #ffffffce;
  transition: all 300ms;
}
#allAppPopup a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#allAppPopup .appContainer svg {
  filter: brightness(0.8);
  transition: all 100ms;
  fill: var(--themeColor);
  object-fit: contain;
  /* stroke-dashoffset: var(--themeColor); */
  width: 50px;
}

#allAppPopup li:hover {
  background-color: var(--liteThemeColor);
}
#allAppPopup li:hover img {
  filter: brightness(100%);
}

/* popup bg --- */

#popupBg {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #aaa5;
  filter: brightness(0.7);
}

/* mail section /----- */
#mailToggle {
  height: 47px;
  position: fixed;
  bottom: 1rem;
  right: 10vw;
}
.mailService {
  height: 100%;
  width: 47px;
  margin: auto;
  position: relative;
}
.mailService div {
  height: 100%;
  width: 100%;
  background: var(--themeColor);
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mailService svg,
.mailService img {
  padding: 10px;
  fill: var(--bg2);
  width: 100%;
}
.mailService .emails {
  transition: all 500ms;
}
.mailService .gmail.show {
  transform: translate(-150%, -70%);
}
.mailService .outlook.show {
  transform: translateY(-150%);
}
.mailService .yahoo.show {
  transform: translate(150%, -70%);
}
.ToggleMailButton {
  z-index: 1;
}
