@font-face {
  font-family: "Anurati";
  src: url("../fonts/Anurati.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
:root {
  --accent: #000000;
  --light-accent: hsl(0, 0%, 25%);
  --background: hsl(0, 0%, 90%);
  --light-background: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 10%);
}
body {
  --soft-accent: color-mix(in srgb-linear, var(--accent) 80%, var(--light-accent) 20%);

  background: var(--background);
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  color: var(--text-color), hsl(hue, saturation, lightness);
  fill: var(--accent);
  /* background-image: url("../wallpapers/winter-flowers.jpg"); */
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
  background-position: center;
  background-size: cover;
}
/* body.skyblue {
  --accent: #00b3b3;
  --accent: black;
}
body.red {
  --themeColor: #d40909;
  --liteThemeColor: #e9dbdbde;
  --liteThemeColor2: #fcbb98;
  --themeBg: #b400004b;
  --bg: rgb(255, 232, 221);
  --bg2: rgb(255, 187, 187);
  --color: #474747;
}
body.green {
  --themeColor: #08cf61;
  --liteThemeColor: #dce9dbde;
  --liteThemeColor2: #98fca5;
  --themeBg: #00b43c4b;
  --bg: rgb(221, 255, 230);
  --bg2: rgb(187, 255, 207);
  --color: #474747;
}
body.yellow {
  --themeColor: #ece807;
  --liteThemeColor: #e7e9dbde;
  --liteThemeColor2: #f4fc98;
  --themeBg: #a2b4004b;
  --bg: rgb(255, 255, 221);
  --bg2: rgb(247, 255, 187);
  --color: #474747;
}
body.purple {
  --themeColor: #800080;
  --liteThemeColor: #e7dbe9de;
  --liteThemeColor2: #d998fc;
  --themeBg: #ab00b44b;
  --bg: rgb(245, 221, 255);
  --bg2: rgb(249, 187, 255);
  --color: #474747;
}
body.dark {
  --themeColor: #050005;
  --liteThemeColor: #100028de;
  --liteThemeColor2: #191a19;
  --themeBg: #2d2f2f4b;
  --bg: rgb(1, 8, 15);
  --bg2: rgb(17, 18, 18);
  --color: #cecdcd;
} */
