/* setting section == */
#setting {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-color);
  background-color: var(--light-accent);
}
.settingPage {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 0;
  transition: all 500ms;
  z-index: 3;
}
.settingPage.show {
  max-width: 100vw;
  width: 500px;
}
.setting .settingsPageWrapper {
  max-width: 100vw;
  width: 500px;
  height: 100vh;
  overflow: scroll;
  border-left: 2px solid color-mix(in srgb, var(--light-accent), transparent 70%);
  background: #ffffff23;
  backdrop-filter: blur(30px);
  border-radius: 15px 0 0 15px;
  filter: brightness(1.1);
}
.settingPage .settingsHeader {
  padding: 1rem;
  font-size: 25px;
  background-color: #9993;
  justify-items: center;
}
#setting .showSettings,
#setting .closeSettings {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  width: 40px;
  display: inline-flex;
  border: none;
  outline: none;
  padding: 0;
  z-index: 1;
  background: transparent;
  fill: transparent;
  stroke: var(--accent);
}
#setting .closeSettings {
  position: relative;
  left: 0;
}

/* setting body  */
.settingPage .settingBody {
  padding: 1rem;
}

/* Color Themes  */
.settingPage .settingBody .colors {
  padding-top: 0.7rem;
  display: flex;
  gap: 1rem;
}
.settingPage .settingBody .colors .themes {
  position: relative;
  list-style: none;
  height: 40px;
  width: 40px;
  flex-wrap: wrap;
  background-color: var(--themeColor);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
/* .settingPage .settingBody .colors .themes[value="skyblue"] {
  background: #2acdf5;
}
.settingPage .settingBody .colors .themes[value="red"] {
  background: #d40909;
}
.settingPage .settingBody .colors .themes[value="green"] {
  background: #08cf61;
}
.settingPage .settingBody .colors .themes[value="yellow"] {
  background: #ece807;
}
.settingPage .settingBody .colors .themes[value="purple"] {
  background: #800080;
}
.settingPage .settingBody .colors .themes[value="dark"] {
  background: #050005;
} */
input[name="theme"]:checked::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: url(svg/tick.svg) center center no-repeat;
  background-size: 70%;
}
