/* setting section == */
#setting {
  position: absolute;
  right: 0;
  top: 0;
  color: inherit;
}
#setting .settingIcon {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-color: var(--themeColor);
  border-radius: 50%;
  padding: 7px;
  z-index: 1;
  box-shadow: 1px 1px 3px -1px #aaa5, inset 1px 1px 3px -1px var(--bg);
}
#setting .settingIcon svg path {
  fill: var(--bg);
}
#setting .settingPage {
  height: 100vh;
  overflow: scroll;
  border-left: 1px solid var(--liteThemeColor2);
  background: var(--bg2);
  backdrop-filter: blur(10px);
  position: absolute;
  right: -28vw;
  width: 26vw;
  transition: all 1s;
}
#setting .settingPage.show {
  right: 0;
}
/* setting body  */
.settingPage > h4 {
  padding: 1rem;
  font-size: 17px;
  background-color: #9993;
}
.settingPage .settingBody {
  padding: 1rem;
}
.settingPage .settingBody .colors {
  padding-top: 0.7rem;
  display: flex;
  gap: 1rem;
}
.settingPage .settingBody .colors .themes {
  position: relative;
  list-style: none;
  height: 40px;
  width: 40px;
  flex-wrap: wrap;
  background-color: var(--themeColor);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.settingPage .settingBody .colors .themes[value="skyblue"] {
  background: #2acdf5;
}
.settingPage .settingBody .colors .themes[value="red"] {
  background: #d40909;
}
.settingPage .settingBody .colors .themes[value="green"] {
  background: #08cf61;
}
.settingPage .settingBody .colors .themes[value="yellow"] {
  background: #ece807;
}
.settingPage .settingBody .colors .themes[value="purple"] {
  background: #800080;
}
.settingPage .settingBody .colors .themes[value="dark"] {
  background: #050005;
}
input[name="theme"]:checked::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: url(svg/tick.svg) center center no-repeat;
  background-size: 70%;
}
