/* setting section == */
#setting {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-color);
  background-color: var(--light-accent);
}
.settingPage {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 0;
  transition: all 500ms;
  z-index: 3;
}
.settingPage.show {
  max-width: 100vw;
  width: 500px;
}
.setting .settingsPageWrapper {
  max-width: 100vw;
  width: 500px;
  height: 100vh;
  overflow: scroll;
  border-left: 2px solid color-mix(in srgb, var(--light-accent), transparent 70%);
  background: #ffffff43;
  backdrop-filter: blur(30px);
  border-radius: 15px 0 0 15px;
}
.settingPage .settingsHeader {
  padding: 1rem;
  font-size: 25px;
  background-color: #fff3;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#setting .showSettings,
#setting .closeSettings {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  width: 40px;
  display: inline-flex;
  border: none;
  outline: none;
  padding: 0;
  z-index: 1;
  background: transparent;
  fill: transparent;
  stroke: var(--accent);
}
#setting .closeSettings {
  position: relative;
  left: 0;
  top: 0;
}

/* setting body  */
.settingBody {
  padding: 1rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Color Themes  */
.settingBody .colors {
  padding-top: 0.7rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.settingBody .colors .color {
  position: relative;
  list-style: none;
  height: 50px;
  width: 50px;
  flex-wrap: wrap;
  background-color: var(--themeColor);
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid #9995;
  overflow: hidden;
}
input[name="color"]:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  content: "";
  height: 55%;
  width: 55%;
  background: var(--background);
  opacity: 70%;
}
